@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
html {
  scroll-behavior: smooth;
}

.card-container {
  @apply p-6 bg-gray-100 rounded-lg;
}

.spinner-mini {
  margin: 0;
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid white;
  border-right-color: transparent;
  animation: rotate 1s infinite linear;
}

.spinner {
  margin: 3.2rem auto 1.6rem;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #08533c;
  border-right-color: #619787;
  animation: rotate 1s infinite linear;
}

.btn-grad {
  color: #313121;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 10px;
  border: 1px solid #313121;
}

.btn-grad:hover {
  background-color: #14140d;
  color: white;
}

.image {
  background-image: url("/ac884af0-02e9-4321-80cd-07a03aadf062.png");
  background-repeat: no-repeat;
  background-size: cover;
}
/* .id-image {
  background-image: url("/574a5309-fcad-46e6-a04e-2f4bb64fde28.png");
  background-repeat: no-repeat;
  background-size: cover;
} */
.image-login {
  background-image: url("/c5b9d4e7-d919-4224-9dc4-b4fffa8aa7e2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 676px) {
  .image-login {
    background-image: url("/c5b9d4e7-d919-4224-9dc4-b4fffa8aa7e2-sm.png");
  }
}

/* From Uiverse.io by xueyuantan */
.btn {
  width: 9em;
  height: 3em;
  color: white;

  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0px 0px 5px black;
}

.btn::before {
  content: "";
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #095c43 0%, #052e22 100%);
  transition: 0.5s ease;

  display: block;
  z-index: -1;
}

.btn:hover::before {
  width: 9em;
}
