@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
html {
  scroll-behavior: smooth;
}

.card-container {
  @apply p-6 bg-gray-100 rounded-lg;
}

.spinner-mini {
  margin: 0;
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid white;
  border-right-color: transparent;
  animation: rotate 1s infinite linear;
}
.spinner-mini-black {
  margin: 0;
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid black;
  border-right-color: transparent;
  animation: rotate 1s infinite linear;
}

.spinner {
  margin: 3.2rem auto 1.6rem;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #04210f;
  border-right-color: #149343;
  animation: rotate 1s infinite linear;
}

.btn-grad {
  color: #313121;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 10px;
  border: 1px solid #313121;
}

.btn-grad:hover {
  background-color: #14140d;
  color: white;
}

.image {
  background-image: url("/ac884af0-02e9-4321-80cd-07a03aadf062.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.image-login {
  background-image: url("/c5b9d4e7-d919-4224-9dc4-b4fffa8aa7e2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 676px) {
  .image-login {
    background-image: url("/c5b9d4e7-d919-4224-9dc4-b4fffa8aa7e2-sm.png");
  }
}

progress {
  appearance: none;
  width: 100%;
  height: 100%;
  grid-column: span 2 / span 2;
}

progress::-webkit-progress-bar {
  background-color: #d1d5db;
}

progress::-webkit-progress-value {
  background-color: #51cf66;
}
